html {
  scroll-behavior: smooth;
}


body {
  font-family: 'Poppins', Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #555;
  background-color: #f8f9fa;
  line-height: 1.6;
}
nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #1b75bb;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  text-align: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(27, 117, 187, 0.8); /* Always slightly transparent */
  border-bottom: 1px solid rgba(221, 221, 221, 0.5); /* Lighter border to match transparency */
  padding: 10px 0;
  text-align: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
margin-bottom:40px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
padding:10px;
  font-size: 1.1rem;
}

nav a:hover {
  background-color:rgba(27, 117, 187);
  border:1px solid #f29e3b;
}

  .container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

@media (min-width: 780px) {
  .container {
    max-width: 70%;
  }
}

@media (max-width: 780px) {
  .container {
    max-width: 100%;
  }
}


section {
  margin-top: 70px;  
  background-color: white;
  padding-top: 70px;
  position: relative;
  scroll-margin-top: 70px; /* Adjust based on your nav bar height */
}

article {
background-color: #e0f7fa;
padding:20px;
height:200px;
margin-bottom:5px;
}

article:hover {
  background-color: hsl(187, 100%, 80%);
}

.profile-picture {
  border-radius: 50%; 
}

@media (max-width: 768px) {
  .profile-picture {
    width: 100%;
    height: auto; 
    border-radius: 50%; /* change this to 0, after having new picture. */
    aspect-ratio: 1 / 1; 
  }
}


    footer {
      text-align: center;
      padding: 10px 0;
      background-color: white;
      border-top: 1px solid #ddd;
    }
    footer a {
      color: #0074D9;
      text-decoration: none;
    }
    footer a:hover {
      text-decoration: underline;
    }

